.cm-user-data-wrapper {
  padding-bottom: 20px;

  .cm-reauth-avatar {
    width: 64px;
    height: 64px;
  }

  .cm-user-data-content {
    padding-left: 10px;

    h4 {
      font-weight: bold;
    }

    p {
      margin-top: 5px;
    }
  }
}

.cm-change-pass-fields {
  .cm-form-field {
    margin-bottom: 25px;
  }
}
