.cm-form-dialog-container {
  svg {
    width: 30px;
    height: 30px;
  }
}

.cm-form-dialog-popover {
  .MuiPaper-root {
    padding: 10px 15px;
    align-items: center;
    display: flex;
  }

  .MuiPaper-root > button {
    margin-left: 10px;
  }
}

.cm-tag-dialog-popover {
  & > .MuiPaper-root {
    flex-wrap: wrap;
  }

  .cm-tag-color-picker {
    width: 100%;
    margin-bottom: 20px;

    .twitter-picker {
      width: calc(100% - 100px) !important;

      span > div {
        border-radius: 50% !important;
      }
    }
  }
}
